hr{
    color: rgba(64, 64, 64, 0.567);
     box-shadow: 1px 1px 10px 5px;
}

.title{
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #27272791;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #44444431;
  }